:root {
    --color-1: #463725;
    --color-2: #2f9c42;
    --color-3: #ED254E;
    --color-4: rgba(235, 179, 48, 0.25)
    --color-5: #ffffff00;
    --color-6: #EBB330;
    --color-7: #fff;
    --color-8: #000;
}