{% extends "layout.html" %}

{% block content %}

<body>
    <!-- Corpo da página -->
    <section class="form-geral">
        <div class="mt-4 bg-white shadow p-4 container rounded-container">
            <div class="container">
                <h3 class="mb-3 pt-3">Inserir Novos Produtos</h3>
                <div class="form ">
                    <!-- Formulário para inserir novos produtos -->
                    <form class="mb-2 row" action="/" method="POST">
                        <div class="mb-3 col-12 col-sm-4">
                            <label class="input-form" for="nome">Nome Item</label>
                            <input type="text" class="form-control" required id="nome" name="nome" placeholder="Nome">
                        </div>

                        <div class="mb-3 col-12 col-sm-4">
                            <label class="input-form" for="codigo">Código</label>
                            <input type="number" class="form-control" required id="codigo" name="codigo" placeholder="Código">
                        </div>

                        <div class="mb-3 col-12 col-sm-4">
                            <label class="input-form" for="estoqueMin">Estoque Mínimo</label>
                            <div class="input-group">
                                <span class="input-group-text">0</span>
                                <input type="number" class="form-control" required id="estoqueMin" name="estoqueMin"
                                    placeholder="Estoque Mínimo">
                            </div>
                        </div>

                        <div class="mb-3 col-12 col-sm-4">
                            <label class="input-form" for="categoria">Categoria</label>
                            <select class="form-select" id="categoria" required name="categoria">
                                <option value="Hortifruti">Hortifruti</option>
                                <option value="Bebida">Bebida</option>
                                <option value="Carnes e Frios">Carnes e Frios</option>
                            </select>
                        </div>

                        <div class="mb-3 col-12 col-sm-4">
                            <label class="input-form" for="preco">Preço</label>
                            <div class="input-group">
                                <span class="input-group-text">R$</span>
                                <input type="text" class="form-control" required id="preco" name="preco" placeholder="Preço">
                            </div>
                        </div>

                        <div class="mb-3 col-12 col-sm-4">
                            <label class="input-form" for="quantidade">Quantidade</label>
                            <div class="input-group">
                                <span class="input-group-text">0</span>
                                <input type="number" class="form-control" required id="quantidade" name="quantidade"
                                    placeholder="Quantidade">
                            </div>
                        </div>
                        <div class="mb-3 col-12 col-sm-4">
                            <label class="input-form" for="unidadeMedida">Unidade Medida</label>
                            <select class="form-select" id="unidadeMedida" required name="unidadeMedida">
                                <option value="Kg">Kg</option>
                                <option value="L">L</option>
                            </select>
                        </div>
                        <div class="mb-3 col-12 col-sm-4">
                            <label class="input-form" for="status">Status</label>
                            <select class="form-select" id="status" required name="status">
                                <option value="1" checked>Ativo</option>
                                <option value="0" disabled>Inativo</option>
                            </select>
                        </div>

                        <div class="mb-3 d-flex col-12 align-items-end col-sm-4">
                            <button type="submit" value="Enviar" class="salvar btn w-100">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
    </section>
    <!-- Barra de pesquisa -->

    <div class="container p-2">
        <div class="mt-2 w-100 d-flex justify-content-end text-end">
            <form method="POST" action="/buscar" class="d-flex mb-3 gap-2">
                <select class="form-select" name="search-option">
                    <option value="codigo">Código</option>
                    <option value="nome">Nome</option>
                    <option value="categoria">Categoria</option>
                    <option value="status">Status</option>
                </select>
                <input class="form-control" type="text" placeholder="Buscar Item" name="buscar-item"
                    value="{% if value_search %}{{ value_search }}{% endif %}">
                <button type="submit" name="buscar" class="btn btn-outline-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </button>
            </form>
        </div>

        <div class="form-geral">
            <div class="bg-white shadow p-4 container rounded-container">
                <h3>Lista de Produtos</h3>
                <div class="divTable">
                    <table class="table">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Código</th>
                                <th scope="col">Estoque Mínimo</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Preço</th>
                                <th scope="col">Quantidade</th>
                                <th scope="col">Unidade de Medida</th>
                                <th scope="col">Status</th>
                                <th scope="col">Excluir</th>
                                <th scope="col">Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in table_data %}
                            <tr>
                                <!-- Exibe os dados na tabela -->
                                <td class="table-cell">{{ row[1] }}</td>
                                <td class="table-cell">{{ row[2] }}</td>
                                <td class="table-cell">{{ row[3] }}</td>
                                <td class="table-cell">{{ row[4] }}</td>
                                <td class="table-cell">{{ row[5] }}</td>
                                <td class="table-cell">{{ row[6] }}</td>
                                <td class="table-cell">{{ row[7] }}</td>
                                <td class="table-cell">{{ row[8] }}</td>
                                <!-- Botões para deletar e alterar registros -->
                                <td class="table-cell-last">
                                    <form method="POST" class="icon" action="/deletar/{{ row[0] }}">
                                        <button class="btn p-0" name="{{ row[0] }}" type="submit"
                                            onclick="return confirm('Tem certeza de que deseja excluir este produto?');">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path
                                                    d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                            </svg>
                                        </button>
                                    </form>
                                </td>
                                <td class="table-cell-last">
                                    <form method="GET" class="icon" action="/alterar/{{ row[0] }}">
                                        <button class="btn p-0" type="submit" name="{{ row[0] }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path
                                                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502 .646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                <path fill-rule="evenodd"
                                                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                            </svg>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



        <!-- Importa os scripts do Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
            </script>


</body>
{% endblock %}